<!DOCTYPE html>
<html>
<head>
  <title>Logview</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>



<body class="skin-blue">

<header class="main-header">
  <a href="/" class="logo">
    Logview
  </a>


  <nav class="navbar navbar-static-top" role="navigation">

    <% if !session[:is_login] %>

        <form class="navbar-form navbar-right" style="padding-right: 20px" id="login_form" name="login_form" >

          <div class="form-group">
            <input type="text" class="form-control" id="login" name="login" placeholder="login">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Вход</button>
          </div>
        </form>
    <% else %>
        <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
          <li><a href="#"  onclick='logout()'><span class="fa fa-power-off"></span> Выход </a></li>
        </ul>
    <% end %>


    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

      </ul>
    </div>

  </nav>
</header>


<div class="main-sidebar">
  <div class="sidebar">

    <% if session[:is_admin] %>

        <ul class="sidebar-menu">
          <li class="header">Администрирование</li>
          <li><a href="/admin/user_manager"><span>Пользователи</span></a></li>
        </ul>

    <% end %>

  </div>
</div>



<div class="content-wrapper">
  <%= yield %>
</div>



</body>
</html>
